:host {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 32px;
    background-color: var(--primary);
    color: var(--text-color-dark);
    border-bottom: 2px solid var(--background);
    z-index: 5;
    top: 0;
    font-family: var(--title-font-family);
    transition: height 0.2s ease-out;
}

.header-title {
    padding: 0 8px;
    font-size: 24px;
}

.header-nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: calc(calc(var(--common-title-height) + 8px) * 3);
    overflow: hidden;
    transition: height 0.2s ease-out;

    &.hidden {
        height: 0;
        visibility: visible;
    }
}

.header-nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--primary);
}

.header-nav-list-item {
    display: inline-block;
}

.header-nav-link {
    display: inline-block;
    font-size: 20px;
    padding-left: 32px;
    width: 100%;
    line-height: calc(var(--common-title-height));
    box-sizing: border-box;
}

.header-menu-btn {
    display: inline-flex;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}

.header-menu-icon {
    height: 32px;
    width: 32px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-title {
        font-size: 32px;
    }

    .header-nav-link {
        font-size: 24px;
    }
}

.header-title,
.header-menu-btn,
.header-nav-link {
    border-width: 2px;
    border-style: dashed;
    border-color: transparent;
    transition: 0.1s ease-out;
}

.header-title:hover,
.header-menu-btn:hover,
.header-nav-link:hover {
    color: var(--accent);
    border-color: var(--accent);
}

/* Medium devices (landscape tablets, 768px and up) */
//@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-menu-btn {
        display: none;
    }

    .header-nav {
        position: relative;
        top: 0;
        width: auto;
        height: calc(var(--common-title-height) + 4px);

        &.hidden {
            height: calc(var(--common-title-height) + 4px);
        }
    }

    .header-nav-list {
        flex-direction: row;
        gap: 32px;
    }

    .header-title,
    .header-nav-link {
        padding: 0 8px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
//@media only screen and (min-width: 1200px) {...}
