<div class="card-header-wrapper">
    <div class="diagonal diagonal-top-left"></div>
    <div class="card-title">{{ cardTitle }}</div>
    <div class="diagonal diagonal-top-right"></div>
</div>
@if (imageSrc) {
    <div class="card-image-wrapper">
        <img
            class="project-image"
            appProjectImage
            [imgSrc]="imageSrc"
            [imgWidthPairs]="imgWidthPairs"
            [defaultImgWidth]="defaultImgWidth"
            [alt]="cardTitle + ' Image'"
            loading="lazy"
        />
    </div>
}
<div class="card-content">
    <p class="card-description">{{ description }}</p>
    @if (links.length) {
        <div class="card-links">
            @for (link of links; track $index) {
                <app-link-button [link]="link" />
            }
        </div>
    }
</div>
<div class="card-footer-wrapper">
    <div class="diagonal diagonal-bottom-left"></div>
    <span class="card-footer">
        <span class="badge-wrapper">
            @for (badge of badges; track badge) {
                <img
                    class="badge"
                    [src]="getIcon(badge)"
                    [title]="badge"
                    [alt]="badge + ' Icon'"
                />
            }
        </span>
        <span>{{ year }}</span>
    </span>
    <div class="diagonal diagonal-bottom-right"></div>
</div>
