:host {
    --image-width: 1248px; //  The actual size of main project images is 1248 * 702
    --card-width: 800px;
    --card-width-half: calc(var(--card-width) / 2);
    display: flex;
    flex-direction: column;
    max-width: calc(var(--image-width) + var(--card-width-half));
}

.main-project-card-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
}

.main-project-card {
    flex-grow: 1;
    max-width: var(--card-width);
    z-index: 1;
}

.main-project-content {
    max-width: 100%;
}

.main-project-children {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    margin-top: 16px;
}

.main-project-child {
    display: inline-flex;
    align-items: center;
    width: 280px;
    min-height: 100px;
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid var(--primary);
    background-color: var(--background);
    z-index: 1;
}

.project-image {
    border: 2px solid var(--primary);
}

/* Small devices (portrait tablets and large phones, 600px and up) s */
//@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) m */
//@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) l */
//@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) xl */
@media only screen and (min-width: 1200px) {
    :host {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .main-project-content {
        margin-left: auto;
        max-width: 80%;
    }

    .main-project-content.inverted {
        margin-left: 0;
        margin-right: auto;
    }

    .main-project-card-wrapper {
        position: absolute;
        left: 0;
        width: var(--card-width);
        margin-bottom: 0;
        margin-top: 150px;
    }

    .main-project-card-wrapper.inverted {
        left: initial;
        right: 0;
    }

    .main-project-children {
        margin-top: -24px;
    }
}
