<div
    class="main-project-card-wrapper"
    [class.inverted]="isInverted"
>
    <app-card
        class="main-project-card"
        appAnimateEntry
        [animation]="isInverted ? 'slide-in-right' : 'slide-in-left'"
        [target]="elementRef.nativeElement"
        [cardTitle]="project.name"
        [description]="project.summary"
        [badges]="project.badges"
        [githubLink]="project.githubLink"
        [openLink]="project.openLink"
        [year]="project.year"
    />
</div>
<div
    class="main-project-content"
    [class.inverted]="isInverted"
>
    <img
        class="project-image"
        appAnimateEntry
        appProjectImage
        [animation]="isInverted ? 'slide-in-left' : 'slide-in-right'"
        [target]="elementRef.nativeElement"
        [imgSrc]="project.cardImageSrc"
        [imgWidthPairs]="imgWidthPairs"
        [defaultImgWidth]="defaultImgWidth"
        [alt]="project.name + ' Image'"
        [loading]="lazyLoadImage ? 'lazy' : 'eager'"
    />
    <div
        #descriptionsElement
        class="main-project-children"
    >
        @for (description of project.shortDescriptions; track description; let i = $index) {
        <div
            class="main-project-child"
            appAnimateEntry
            animation="slide-in-bottom"
            [target]="descriptionsElement"
            [delay]="i * descriptionAnimationDelay"
        >
            {{ description }}
        </div>
        }
    </div>
</div>
