:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    white-space: nowrap;
}

.stripe-group {
    display: inline-flex;
    column-gap: 16px;
}

.stripe {
    vertical-align: middle;
    display: inline-block;
    transform: skewX(-45deg);
    height: 10px;
    width: 20px;
    background-color: var(--primary);
    box-shadow: -8px 0 var(--accent);
}

/* Extra small devices (phones, 600px and down) xs */
//@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) s */
@media only screen and (min-width: 600px) {
    :host {
        flex-direction: row;
        column-gap: 32px;
    }

    .stripe.invert {
        transform: skewX(45deg);
        box-shadow: 8px 0 var(--accent);
    }
}

/* Medium devices (landscape tablets, 768px and up) m */
@media only screen and (min-width: 768px) {
    :host {
        column-gap: 48px;
    }

    .stripe {
        height: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) l */
@media only screen and (min-width: 992px) {
    .stripe-group {
        column-gap: 28px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) xl */
//@media only screen and (min-width: 1200px) {...}
