<div class="stripe-pair-group">
    @for (stripe of [].constructor(numStripes); track stripe) {
    <span>
        <span class="stripe stripe-accent"></span>
        <span class="stripe stripe-primary"></span>
    </span>
    }
</div>
<div class="title-content">
    <ng-content />
</div>
<div class="stripe-pair-group">
    @for (stripe of [].constructor(numStripes); track stripe) {
    <span>
        <span class="stripe stripe-accent"></span>
        <span class="stripe stripe-primary"></span>
    </span>
    }
</div>
