.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    height: 48px;
    width: 64px;
    padding: 8px;
    background-color: var(--primary);
    color: var(--text-color-dark);
    font-family: var(--title-font-family);
    box-sizing: border-box;
    border: 2px solid var(--primary);
    box-shadow: 4px 4px var(--accent);
    transition: box-shadow 0.1s ease-out;

    &:hover {
        box-shadow: none;
    }
}

.link-icon {
    display: inline;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.link-label {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) s */
@media only screen and (min-width: 600px) {
    .link {
        width: 128px;
    }

    .link-label {
        display: inline;
    }
}
