<section
    #about
    class="about-section"
>
    <app-title class="main-title">Samuel Esan</app-title>
    <app-card
        *ngIf="appService.introduction() as introduction"
        class="about-section-content"
        cardTitle="About Me"
        [description]="introduction.description"
        [githubLink]="introduction.githubLink"
        [resumeLink]="introduction.resumeLink"
    />
</section>

<section #webProjects>
    <app-title class="secondary-title">Web Projects</app-title>
    <div class="main-projects-section-content">
        @for (project of appService.webProjects(); track project.name; let odd = $odd; let first = $first) {
            <app-main-project
                [project]="project"
                [isInverted]="odd"
                [lazyLoadImage]="!first"
            />
        }
    </div>
</section>

<section #otherProjects>
    <app-title class="secondary-title">Other Projects</app-title>
    <div class="other-projects-section-content">
        @for (project of appService.otherProjects(); track project) {
            <app-card
                class="other-project"
                appAnimateEntry
                animation="fade-in"
                [cardTitle]="project.name"
                [description]="project.summary"
                [imageSrc]="project.cardImageSrc"
                [badges]="project.badges"
                [githubLink]="project.githubLink"
                [openLink]="project.openLink"
                [year]="project.year"
            />
        }
    </div>
</section>

<section class="footer-section">
    <span>Designed & Developed by</span>
    <span class="footer-name">Samuel Esan</span>
    <a
        class="footer-text email"
        href="mailto:samuel.esan@proton.me"
        >samuel.esan&#64;proton.me</a
    >
    <span>2023</span>
</section>
