<section
    #about
    class="about-section"
>
    <app-title class="main-title">Samuel Esan</app-title>
    <app-card
        class="about-section-content"
        cardTitle="About Me"
        [description]="description"
        [githubLink]="githubLink"
        [resumeLink]="resumeLink"
    >
    </app-card>
</section>

<section #webProjects>
    <app-title class="secondary-title">Web Projects</app-title>
    <div class="main-projects-section-content">
        <app-main-project
            *ngFor="let project of mainProjects$ | async; let odd = odd"
            [project]="project"
            [isInverted]="odd"
        >
        </app-main-project>
    </div>
</section>

<section #otherProjects>
    <app-title class="secondary-title">Other Projects</app-title>
    <div class="other-projects-section-content">
        <app-card
            class="other-project"
            *ngFor="let project of otherProjects$ | async"
            appAnimateEntry
            animation="fade-in"
            [cardTitle]="project.name"
            [description]="project.summary"
            [imageSrc]="project.cardImageSrc"
            [badges]="project.badges"
            [githubLink]="project.githubLink"
            [openLink]="project.openLink"
            [year]="project.year"
        >
        </app-card>
    </div>
</section>

<section class="footer-section">
    <span class="footer-text">Designed & Developed by Samuel Esan, 2023</span>
    <a
        class="footer-text email"
        href="mailto:samuel.esan@proton.me"
        >samuel.esan@proton.me</a
    >
</section>
